<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QRCODE Reader</title>
        <style th:inline="text">
            #v{
                width: 320px;
                height: 240px;
            }
        </style>
        <script type="text/javascript" th:src="@{/js/qrcode/qr.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/qrcode/asd.js}"></script>
    </head>
    <body th:attr="onload='load()'">
        <div id="mainbody" style="display: inline;">
            <table class="tsel" border="0" width="100%">
                <tbody>
                <tr>
                    <td valign="top" align="center" width="50%">
                        <table class="tsel" border="0">
                            <tbody>
                            <tr>
                                <td colspan="2" align="center">
                                    <div id="outdiv"><video id="v" autoplay=""></video></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3" align="center">
                    <div id="result">- scanning -</div>
                </td></tr>
                </tbody>
            </table>
        </div>
        <canvas id="qr-canvas" width="800" height="600" style="width: 800px; height: 600px; display: none"></canvas>
    </body>
</html>